
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Epilogue:wght@200;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #EEEDEB;
    margin: 0px;
    padding: 0px;
}


.icon{
    display: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav__menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.nav__desktopmenu li{
    list-style: none;
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
}


.nav__desktopmenu  a {
    text-decoration: none;
    color: black;
    transition: 0.8s;
}

.nav__desktopmenu a:hover {
    transform: scale(1.1);
    color: #A25772;
}

.nav__logo img{
    width: 200px;
}



/* herosection */

.Herosection {
    display: flex;
    width: 70%;
    margin-top: 60px;
    justify-content: space-between;
    padding: 0px 0px;
    align-items: center;
    margin: auto;
    height: 460px;
    font-family: "Epilogue", sans-serif;
    padding-top: 0px;
}

.Herosection .herosection__heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 20px;
}

.herosection__heading h1{
    width: 90%;
    align-items: center;
    font-size: 37px;
    padding: 0px;
    margin: 0px;
    line-height: 60px;
}

.herosection__heading h1 span{
    width: 90%;
    align-items: center;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 60px;
}

.herosection__heading h3{
    width: 90%;
    align-items: center;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    line-height: 30px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;color: rgb(96, 96, 96);
}

.herosection__heading button{
    font-size: 16px;
    padding: 13px;
    cursor: pointer;
    background-color: #3C3633;
    color: #E0CCBE;
    transition: 0.5s;
}
.herosection__heading button:hover{
    background-color:#E0CCBE ;
    color: #3C3633;
}
.herosection_image img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

/* Hero Section CSS ends */


/* General heading CSS */

.main_title h1{
    margin-top: 100px;
    font-size: 40px;
    font-family: "Epilogue", sans-serif;
    text-align: center;
}


.main_title h3{
    margin-top: 0px;
    font-size: 20px;
    font-family: "Epilogue", sans-serif;
    text-align: center;
    color: rgb(90, 90, 90);
}

/* General heading Section ends */

.instructors__smallcard{
    padding-top: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 80%;
    gap: 30px;
 
}

.instructors__smallcard img{
    max-width: 100%;
    height: 160px;
    object-fit: cover;
}

.instructors__smallcard h3{
    margin-top: 19px;
    font-size: 20px;
    font-family: "Epilogue", sans-serif;
    text-align: center;
    color: rgb(7, 7, 7);
}

.instructors__smallcard h4{
    margin-top: 0px;
    font-size: 16px;
    font-family: "Epilogue", sans-serif;
    text-align: center;
    color: rgb(88, 88, 88);
}

.instructors__smallcard_individual{
    transition: 0.7s;
    box-shadow: 0 1.5rem 3rem -1.75rem black;
    padding-bottom: 1rem;
}

.instructors__smallcard_individual:hover{
   background-color: rgb(208, 208, 208);
   cursor: pointer;
   transform: scale(1.05);
}

.instructors__smallcard a{
    text-decoration: none;
}

.instructors__introcard{
    height: 400px; 
}

.instructors__introcard img{
    aspect-ratio: 5/4;
    object-fit: cover;
    max-width: 400px;
    position: relative;
    margin-left: 4rem;
}

.instructors__introcard .leftsection{
    align-items: center;
    width: 100%;
    margin: auto;
}

.instructors__introcard .rightsection{
    text-align: left;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 30px;
}

.instructors__introcard h1{
    font-size: 40px;
    font-family:"Poppins", sans-serif ;
    justify-content: left;
    color: #E0CCBE;
    margin-top: 0px;
}

.instructors__introcard h4{
    font-size: 15px;
    font-family:"Poppins", sans-serif ;
    justify-content: left;
    color: #E0CCBE;
    margin-top: 0px;
}

.instructors__introcard p{
    width: 75%;
    line-height: 24px;
    text-align: justify;
    color: #EEEDEB;
    font-size: 16px;
}

.instructors__introcard .rightsection button{
    font-size: 14px;
    margin-top: 20px;
    padding: 13px;
    cursor: pointer;
    color: #3C3633;
    background-color: #E0CCBE;
    transition: 0.5s;
}

.instructors__introcard .rightsection button:hover{
    color:#3d3d3c ;
    background-color: #EEEDEB;
}

.container2{
    margin: 50px auto 0px;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    padding: 50px 0px ;
    background-color: #3C3633;
    border-radius: 40px;
    font-family: "Epilogue", sans-serif;
    width: 80%;
}

.container{
    margin: 50px auto 0px;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    padding: 50px 0px ;
    background-color: #3C3633;
    border-radius: 40px;
    font-family: "Epilogue", sans-serif;
    width: 80%;
}

.slider_wrapper{
    position: relative;
    margin: auto;
}

.slider{
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden; /*  removing the scroll bar */
}

.slider .instructors__introcard{
    display: flex;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 0px 20px;
}

.slider_nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    bottom: -2rem;
} 

.slider_nav a{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #d7d7d7;
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.slider_nav a:hover{
    opacity: 1;
} 

.line{
    border: 1px solid black;
    width: 80%;
    margin: 60px auto;
}

.courses{
    padding-top: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 75%;
    gap: 30px;
    
}

.courses_individual{
    border: 1px solid rgb(168, 168, 168);
    background-color: #c3bfbf;
    box-shadow: 0 1.2rem 2rem -1.75rem black;
    transition: 0.5s;
}

.courses_individual:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.courses_individual img{
    aspect-ratio: 4/3;
    object-fit: cover;
    max-width: 100%;
    height: 200px;
}

.courses_individual h1{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    color: #000000;
}

.courses button{
    font-size: 14px;
    margin-top: 20px;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    color: #E0CCBE;
    background-color: #3C3633;
    transition: 0.5s;
    display: block;
    margin:20px auto ;
}


.courses button:hover{
    color:#3d3d3c ;
    background-color: #EEEDEB;
}

/* Word from the CEO section */
.ceo {
    width: 70%;
    margin: auto;
    margin-top: 130px; 
    display: flex;
    
}

.ceo_leftSection{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.ceo_leftSection h2{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: gray;
    margin: 0px;
}

.ceo_leftSection h1{
    font-size: 40px;
    font-family: "Epilogue", sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

.ceo_leftSection h3{
    font-size: 20px;
    font-family: "Epilogue", sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

.ceo_leftSection p{
    margin-top: 30px;
    font-size: 20px;
    font-family:  sans-serif;
    color: rgb(0, 0, 0);
    line-height: 29px;
    width: 80%;
    text-align:justify ;
}

.ceo_rightSection{
    width: 50%;
    object-fit: contain;
}

.ceo_rightSection img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;  
}

/* Word from CEO css ends */

/* Testimonial css starts */

.Testimonial{
    display: block;
    margin: auto;
}

.Testimonial_parent{
    position: relative;
    width: 40%;
    padding: 30px 70px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #803838;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}

.Testimonial_child1{
    width: 30%;
    padding: 20px 70px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    background-color: #a56161;
    left: 50%;
    transform: translate(-100%, 15%);
}

.Testimonial_child2{
    width: 30%;
    padding: 20px 70px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    background-color: #a56161;
    left: 50%;
    transform: translate(0%, 15%);
}


.Testimonial_child1,
.Testimonial_child2 {
    position: absolute;
    transform: scale(-0.75rem);
    filter: blur(3px);
    z-index: -1;
}

.parent_image{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.parent_image img{
    position: absolute;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

#image1, #image3 {
    width: 80px;
}

#image2{
    transform: translate(-50%, -16%);
}

#image1{
    transform: translate(-190%, -10%);
}

#image3{
    transform: translate(90%, -10%);
}

/*  Gallery CSS starts */

.gallery{
    margin-top: 600px;
    padding: 50px 0px;
}

.gallery__large{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.gallery__large img{
    aspect-ratio: 4/3;
    width: 40%;
    object-fit: cover;
}

.gallery__small{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.gallery__small img{
    aspect-ratio: 16/9;
    width: 18.5%;
    object-fit: cover;
    position: relative;
}

.secondgallery{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.secondgallery img{
    aspect-ratio: 3/4;
    width: 24%;
    object-fit: cover;
}

.programInfoCard{
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 10px;
    left: 50%;
    transform: translate(70%, -300%);
    background-color: #803838;
}

.image-container2{
    display: none;
}

.image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0px 0px 300px;
}

.image-container h2 {
    margin-bottom: 10px;
    font-family: "Epilogue", sans-serif;
    width: 100%;
    line-height: 30px;
}

.image-container h3{
    font-family: "Epilogue", sans-serif;
}

.image-container p{
    font-family: sans-serif;
}

.image-container img {
    aspect-ratio: 4/4;
    object-fit: cover;
    width: 25%;
}

.text-overlay {
    position: absolute;
    transform: translate(-120%, 80%);
    background-color:white; 
    color: #070707; 
    padding: 20px ;
    border-radius: 5px;
    width: 20%;
    height: auto;
    box-shadow: 0 2px 5px black;
    overflow-y: auto;
}

.text-overlay2 {
    position: absolute;
    transform: translate(-1%, 67%);
    background-color:rgb(255, 255, 255); 
    color: #070707; 
    padding: 20px;
    border-radius: 5px;
    width: 20%;
    box-shadow: 0 2px 5px black;
    height: auto;
    overflow-y: auto;
    line-height: 24px;
}

.text-overlay3 {
    position: absolute;
    transform: translate(120%, 80%);
    background-color:white; 
    color: #070707;
    padding: 20px;
    border-radius: 5px;
    width: 20%;
    box-shadow: 0 2px 5px black;
    height: auto;
    overflow-y: auto;

}

/* footer */

.container{
    max-width: 1800px;
    margin: auto;
    background-color:  #E0CCBE;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.row img{
    width: 200px;
}

.container ul{
    list-style: none;
    padding: 0;
}

.footer {
    background-color: #E0CCBE;
}

.footer_col{
    width: 20%;
    padding: 0 15px;
    text-align: left;
}

.footer_col h4{
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 40px;
    justify-content: left;
}

.footer_col h3{
    font-size: 14px;
    margin: 19px 0px;
    justify-content: left;
}

.footer_col p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

.email{
    display: flex;
}

.email input{
    padding: 10px;
}

.footer_col a{
    text-decoration: none;
    color: #000000;
}
.footer_col li:hover{
   transform: scale(1.04);
}

.footer_col li{
    line-height: 40px;
    transition: 0.7s;
}

.footer_col button{
    background-color: #3C3633;
    color: #E0CCBE;
}
.footer_col button:hover{
    background-color: #b9a8a2;
    color: #534b46;
    cursor: pointer;
}

/* CSS for responsiveness */

@media screen and  (max-width:768px) {
    .main_title h3{
        padding: 20px 30px;
    }
    .nav{
        margin-bottom: 300px;
    }
    .nav__menu{
        background-color: #000000;
        width: 500px;
        display: none;
    }
    .nav__menu.show{
        background-color: #000000;
        width: 500px;
        display: block;
    }
    .nav__desktopmenu{
        display: flex;
    }
    .nav__desktopmenu{
        display: none;
        background-color: #b9a8a2;
        flex-direction: column;
        position: absolute;
        top: 63px;
        padding: 40px;
        align-items: center;
        right: 25px;
    }
    .nav__desktopmenu.show{
        display: flex;
    }
    .icon{
        display: block;
        position: absolute;
        right: 20px;

    }

    /* Hero sections */
    .Herosection {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 40px;
        margin-bottom: 300px;
        justify-content: space-between;
        padding: 0px 0px;
        align-items: center;
        height: 460px;
        font-family: "Epilogue", sans-serif;
        padding-top: 0px;
        gap: 30px;
    }

    .line{
        display: none;
    }
    
    .Herosection .herosection__heading{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .herosection__heading h1{
        width: 90%;
        align-items: center;
        font-size: 37px;
        padding: 0px;
        margin: 0px;
        line-height: 60px;
    }
    .herosection__heading h1 span{
        width: 90%;
        align-items: center;
        font-size: 50px;
        padding: 0px;
        margin: 0px;
        line-height: 60px;
    }
    .herosection__heading h3{
        width: 90%;
        align-items: center;
        font-size: 30px;
        padding: 0px;
        margin: 0px;
        line-height: 30px;
        padding: 0px;
        margin: 0px;
        font-size: 18px;color: rgb(96, 96, 96);
    }
    
    .herosection__heading button{
        font-size: 16px;
        padding: 13px;
        cursor: pointer;
        background-color: #3C3633;
        color: #E0CCBE;
        transition: 0.5s;
    }
    .herosection__heading button:hover{
        background-color:#E0CCBE ;
        color: #3C3633;
    }
    .herosection_image img{
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
    }

    
    .instructors__smallcard{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 50px;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        gap: 30px;
     
    }

    .instructors__introcard p{
        width: 75%;
        line-height: 24px;
        text-align: left;
        color: #EEEDEB;
    }

    .click{
        display: none;
    }
    
    
    .instructors__smallcard_individual{
        display: flex;
        flex-direction: column;
    }

    .leftsection img{
        width: 70%;
        margin: 0px;
        padding: 0px;
    }

    .instructors__introcard .leftsection{
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .instructors__introcard .rightsection{
        display: flex;
        flex-direction: column;
        padding: 0px;
        
    }

    .instructors__introcard h1{
        font-size: 30px;
        font-family:"Poppins", sans-serif ;
        justify-content: left;
        color: #E0CCBE;
        margin-top: 10px;
    }
    
    .instructors__introcard .rightsection button:hover{
        color:#3d3d3c ;
        background-color: #EEEDEB;
    }

    .container2{
        margin: 50px auto 0px;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 50px 0px ;
        background-color: #3C3633;
        border-radius: 40px;
        font-family: "Epilogue", sans-serif;
        width: 90%;
    }
    
    
    .slider{
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow: hidden; /*  removing the scroll bar */
        
    }
    
   .instructors__introcard{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 20px;
        margin: 22px 20px;
        justify-content: center;
        align-items: center;
    }
    
    .slider_nav{
        display: flex;
        column-gap: 1rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        bottom: -2rem;
    } 
    
    .slider_nav {
        display: none;
    }
    
    .courses{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    
    .ceo {
        width: 70%;
        margin: auto;
        margin-top: 130px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .ceo_leftSection{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    
    .ceo_leftSection h2{
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        color: gray;
        margin: 0px;
    }
    
    .ceo_leftSection p{
        margin-top: 30px;
        font-size: 16px;
        font-family:  sans-serif;
        color: rgb(0, 0, 0);
        line-height: 25px;
        width: 100%;
        text-align:justify ;
    }
    
    .ceo_rightSection{
        width: 60%;
        object-fit: contain;
    }
    
    .Testimonial_parent{
        display: block;
    }
    
    .Testimonial_child1{
        display: none;
    }

    .Testimonial_child2{
        display: none;
    }
    
    .gallery{
        padding: 50px 0px;
    }
    
    .gallery__large{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .gallery__large img{
        aspect-ratio: 4/3;
        width: 40%;
        object-fit: cover;
    }
    
    .gallery__small{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 20px;
    }
    
    .gallery__small img{
        aspect-ratio: 16/9;
        width: 18.5%;
        object-fit: cover;
        position: relative;
    }
    
    .secondgallery{
        margin-top: 70px;
        display: flex;
        justify-content: center;
        gap: 2rem;
        position: relative;
    }
    
    .secondgallery img{
        aspect-ratio: 3/4;
        width: 24%;
        object-fit: cover;
    }
    
    
    .programInfoCard{
        display: flex;
        justify-content: center;
        position: absolute;
        padding: 10px;
        left: 50%;
        transform: translate(70%, -300%);
        background-color: #803838;
    }
    
    .image-container {
        display: none;
    }

    .image-container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-container2 img{
        width: 60%;
    }

    .image-container2 p{
        text-align: center;
        width: 70%;
    }

    .prog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        line-height: 20px;
        border: 1px solid gray;
        padding: 0px;
        margin: 20px 0px;
        width: 70%;
    }
    
    .Testimonial_parent{
        width: 90%;
        display: block;
        height: 60%;
        overflow-y: auto;
        padding: 0px;
    }

    .Testimonial_parent p{
        padding: 20px;
    }

    .row{
        display: flex;
        justify-content: center;
        gap: 5px;
        width: 100%;
    }
    
    .container{
        width: 100%;
        padding: 0px;
    }

    .container ul{
        list-style: none;
        padding: 0;
    }

    .container ul li{
        font-size: 10px;
    }
    
    .footer {
        background-color: #E0CCBE;  
    }
    .footer img{
        width: 70px;
        aspect-ratio: 4/3;
        object-fit: cover;
    }
    .footer_col{
        width: 20%;
        padding: 0px 2px;
        padding-top: 10px;
        text-align: left;
    }
    .footer_col h4{
        font-size: 13px;
        justify-content: left;
        margin: 0px;
        line-height: 15px;
    }
    .footer_col h3{
        font-size: 10px;
        margin: 19px 0px;
        justify-content: left;
        line-height: 15px;
    }
    
    .footer_col p{
        font-size: 10px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #000000;
        
    }
    .email{
        display: flex;
        flex-direction: column;
    }
    .email input{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    .footer_col a{
        text-decoration: none;
        color: #000000;
    }
    .footer_col li:hover{
       transform: scale(1.04);
    }
    
    .footer_col li{
        line-height: 30px;
        transition: 0.7s;
    }
    
    .footer_col button{
        background-color: #3C3633;
        color: #E0CCBE;
    }
    .footer_col button:hover{
        background-color: #b9a8a2;
        color: #534b46;
        cursor: pointer;
    }
    
}